<div class ="container">
  <div class="mx-auto">
    <h2 class="my-5" id="page-title">マイページ</h2>
    <div class="text-right">
      <%= link_to 'プロフィール編集', users_my_page_edit_path(current_user), class: 'btn btn-success' %>
    </div>
    <!--目標値-->
    <div class="my-5 target">
      <h4 class="text-center">1日の消費カロリーとマクロ栄養素の目標値</h4>
      <% if current_user.select_setting == "設定しない" %>
      <div class="my-3">
        <h5 class="text-center">目標値は設定されていません</h5>
        <div class="text-center">
          <%= link_to '目標値を設定する', users_my_page_edit_path(current_user), class: 'btn btn-success' %>
        </div>
      </div>
      <% elsif current_user.select_setting == "自動で設定する" %>
      <table class='table text-center table-bordered w-75 mx-auto table-light' style='table-layout: fixed;'>
        <thead>
          <tr>
            <td>kcal</td>
            <td>たんぱく質</td>
            <td>脂質</td>
            <td>炭水化物</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= current_user.target_calorie %></td>
            <td><%= current_user.target_protain %></td>
            <td><%= current_user.target_fat %></td>
            <td><%= current_user.target_carbon %></td>
          </tr>
        </tbody>
      </table>
      <% else current_user.select_setting == "自分で設定する" %>
      <table class='table text-center table-bordered w-75 mx-auto table-light' style='table-layout: fixed;'>
        <thead>
          <tr>
            <td>kcal</td>
            <td>たんぱく質</td>
            <td>脂質</td>
            <td>炭水化物</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= current_user.calorie %></td>
            <td><%= current_user.protain %></td>
            <td><%= current_user.fat %></td>
            <td><%= current_user.carbon %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
    <!--食事内容-->
    <div class="my-5 food_regist">
      <h4 class="text-center"><%= day_params.to_datetime.strftime('%Y年%-m月%-d日') %>の食事内容</h4>
      <table class='table text-center table-bordered table-light' style='table-layout: fixed;'>
        <thead>
          <tr>
            <td></td>
            <td>kcal</td>
            <td>たんぱく質</td>
            <td>脂質</td>
            <td>炭水化物</td>
            <td></td>
          </tr>
        </thead>
        <% food_regists.each do |food_regist| %>
        <tbody>
          <tr>
            <td><%= food_regist.timing %> </td>
            <td><%= food_regist.food_regist_shows.aggregate(:calorie) %></td>
            <td><%= food_regist.food_regist_shows.aggregate(:protain) %></td>
            <td><%= food_regist.food_regist_shows.aggregate(:fat) %></td>
            <td><%= food_regist.food_regist_shows.aggregate(:carbon) %></td>
            <td>
              <%= link_to '詳細', food_regist_path(food_regist), class: 'btn btn-success' %>
              <%= link_to '編集', edit_food_regist_path(food_regist), class: 'btn btn-success' %>
            </td>
            <% end %>
          </tr>
          <tfoot>
            <tr>
              <td>合計</td>
              <td>
                <%= food_regist_shows.aggregate(:calorie) %>
              </td>
              <td>
                <%= food_regist_shows.aggregate(:protain) %>
              </td>
              <td>
                <%= food_regist_shows.aggregate(:fat) %>
              </td>
              <td>
                <%= food_regist_shows.aggregate(:carbon) %>
              </td>
              <td></td>
            </tr>
          </tfoot>
        </tbody>
      </table>
    </div>
    <!--カレンダー-->
    <%= month_calendar events: callender_food_regists do |date, callender_food_regists| %>
      <%= date.day %>
      <% sum = 0 %>
      <% callender_food_regists.each do |callender_food_regist| %>
        <div>
          <% sum += callender_food_regist.food_regist_shows.aggregate(:calorie) %>
        </div>
      <% end %>
      <% unless sum == 0 %>
        総カロリー：<%= link_to sum, users_my_page_show_path(date) %>kcal
      <% end %>
    <% end %>
  </div>
</div>