<div class ="container">
  <div class="mx-auto">
    <h2 class="my-5" id="page-title">プロフィール編集</h2>
      <div class = "form-horizontal">
      <%= form_with model:@user, url: users_update_path, local: true do |f| %>
      <%= render "layouts/errors", resource: @user %>
      <div class = "form-group row">
        <%= f.label :profile_image, class: "col-sm-3 control-label text-right offset-sm-1" %>
        <%= f.attachment_field :profile_image, class: "col-sm-3 control-label text-right" %>
      </div>
      <div class="form-group row">
        <%= f.label :last_name, class: "col-sm-3 control-label text-right offset-sm-1" %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control col-sm-2" %>

        <%= f.label :first_name, class: "col-sm-1 control-label text-right" %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control col-sm-2" %>
      </div>
      <div class = "form-group row">
        <%= f.label :email, class: "col-sm-3 control-label text-right offset-sm-1" %>
        <%= f.text_field :email, autofocus: true, class: "form-control col-sm-5" %>
      </div>
      <div class="text-right">
      <%= link_to 'パスワード変更と退会', edit_user_registration_path, class: "btn btn-primary" %>
      </div>
      <div class="text-center">
        <h4 class="my-5 my-page-setting">1日の消費カロリーとマクロ栄養素の設定について</h4>
      </div>
    <div class ="row" style="justify-content: center;">
<!--設定しないフォーム-->
        <div class="form-group col-sm-2">
          <div>
            <%= f.radio_button :select_setting, "no_setting" %>設定しない
          </div>
        </div>
<!--自動で設定するフォーム-->
      <div class="form-group col-sm-4 auto-set mr-3">
        <%= f.radio_button :select_setting, "auto_setting" %>自動で設定する
        <div>
          <%= f.label :sex %>
          <%= f.radio_button :sex, "male" %>男性
          <%= f.radio_button :sex, "female" %>女性
          <%= f.radio_button :sex, "other" %>その他
        </div>
        <div class ="d-flex my-3">
          <%= f.label :weight, class: "control-label text-right" %>
          <%= f.text_field :weight, class: "form-control col-sm-3 ml-5" %><span id="unit">　kg</span>
        </div>
        <div class ="d-flex mb-3">
          <%= f.label :height, class: "control-label" %>
          <%= f.text_field :height, class: "form-control col-sm-3 ml-5" %><span id="unit">　cm</span>
        </div>
        <div class ="d-flex mb-3">
          <%= f.label :exercise, class: "control-label mr-2" %>
          <%= f.select :exercise, User.exercises.keys.map {|k| [I18n.t("enums.user.exercise.#{k}"), k]}, value: @user.exercise %>
        </div>
        <div class ="d-flex">
          <%= f.label :age, class: "control-label" %>
          <%= f.text_field :age, class: "form-control col-sm-3 ml-5" %><span id="unit">　歳</span>
        </div>
      </div>
<!--自分で設定するフォーム-->
      <div class="form-group col-sm-4 manual-set">
         <%= f.radio_button :select_setting, "manual_setting" %>自分で設定する
         <div class ="d-flex my-3">
          <%= f.label :calorie, class: "control-label mr-2" %>
          <%= f.text_field :calorie, class: "form-control col-sm-3" %><span id="unit">　kcal</span>
        </div>
        <div class ="d-flex my-3">
          <%= f.label :protain, class: "control-label mr-4" %>
          <%= f.text_field :protain, class: "form-control col-sm-3" %><span id="unit">　g</span>
        </div>
        <div class ="d-flex my-3">
          <%= f.label :fat, class: "control-label mr-5" %>
          <%= f.text_field :fat, class: "form-control col-sm-3 ml-4" %><span id="unit">　g</span>
        </div>
        <div class ="d-flex my-3">
          <%= f.label :carbon, class: "control-label mr-4" %>
          <%= f.text_field :carbon, class: "form-control col-sm-3 ml-3" %><span id="unit">　g</span>
        </div>
      </div>
    </div>
  </div>
  <div class = "row mt-5">
    <%= f.submit '更新する', class: "btn btn-success d-block mx-auto btn-lg" %>
  </div>
  <% end %>
  </div>
</div>