<div class="conatainer">
  <div class="row mx-auto d-block" style="width: 80%;">
<!--タイトル-->
    <!--<div class="top-title text-center my-5">We Need Muscle !!</div>-->
    <div style="padding: 150px 0 200px 0; background-color: #EDFFBE;">
      <div class="text-center">
        <%= image_tag 'logo.png' %>
      </div>
      <h5 class="text-center my-5" style="font-weight: bold; font-size: 40px;">
        We Need Muscle !!は、<span style="background: linear-gradient(transparent 70%, yellow 70%);">食事投稿機能</span>と
        <span style="background: linear-gradient(transparent 70%, yellow 70%);">食事管理機能</span>によって</br>
        より効果的なボディメイクをサポートします。
      </h5>
    </div>
<!--食事投稿機能の説明-->
    <div class="text-center">
      <div class="about-function-intro">食事投稿機能</div>
    </div>
    <session class="d-flex mx-auto py-3" style="background-color: #EEFFFF; justify-content: center; border-radius: 20px;">
      <div class="col-sm-4 m-5 text-center">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          新規投稿画面で、総カロリーと</br>
          マクロ栄養素を入力し、投稿できる。
        </span>
        <%= link_to asset_path('post_food_new.png'),:rel => "lightbox" do %>
        <%= image_tag '/assets/post_food_new.png', class: 'about_image1 mt-3' %>
        <% end %>
      </div>
      <div class="d-flex">
        <p class="triangle"></p>
        <p class="triangle"></p>
        <p class="triangle"></p>
      </div>
      <div class="col-sm-4 mt-5 mr-5 mb-5 text-center">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          他ユーザーと食事の投稿をシェアして</br>
          より効果的な食事を発見しよう！
        </span>
        <%= link_to '/assets/post_food_comment.png',:rel => "lightbox" do %>
        <%= image_tag 'post_food_comment.png', class: 'about_image2 mt-3' %>
        <% end %>
      </div>
    </session>
<!--食事管理機能の説明-->
    <div class="text-center">
      <div class="about-function-intro">食事管理機能</div>
    </div>
  </div>
<!--ステップ1-->
    <div class="row mx-auto d-flex my-5" style="width: 80%; background-color: #FFFFCC; border-radius: 20px; justify-content: center;">
      <div class="col-sm-5 my-auto">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          <span style="font-size: 40px; color: #FF69A3;">1.  </span>投稿一覧の中から食事内容をセレクト</br>食事登録に追加するをクリック
        </span>
      </div>
      <div class="col-sm-5">
        <%= link_to '/assets/post_food_index.png',:rel => "lightbox" do %>
        <%= image_tag 'post_food_index.png', class: 'about-image-step mt-3' %>
        <% end %>
      </div>
    </div>
<!--ステップ2-->
    <div class="row mx-auto d-flex my-5" style="width: 80%; background-color: #FFFFCC; border-radius: 20px; justify-content: center;">
      <div class="col-sm-5">
        <%= link_to '/assets/food_regist.png',:rel => "lightbox" do %>
        <%= image_tag 'food_regist.png', class: 'about-image-step mt-3' %>
        <% end %>
      </div>
      <div class="col-sm-5 my-auto">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          <span style="font-size: 40px; color: #FF69A3;">2.  </span>日付といつ食べたかを選んで登録
        </span>
      </div>
    </div>
<!--ステップ3-->
    <div class="row mx-auto d-flex my-5" style="width: 80%; background-color: #FFFFCC; border-radius: 20px; justify-content: center;">
      <div class="col-sm-5 my-auto">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          <span style="font-size: 40px; color: #FF69A3;">3.  </span>テーブルとカレンダーで、</br>その日の摂取カロリーが一目でわかる！
        </span>
      </div>
      <div class="col-sm-5">
        <%= link_to '/assets/my_page.png',:rel => "lightbox" do %>
        <%= image_tag 'my_page.png', class: 'about-image-step mt-3' %>
        <% end %>
      </div>
    </div>
    <div class="text-center my-5">
      <%= link_to "今すぐ新規登録", new_user_registration_path, class: "btn btn-success btn-lg btn-new" %>
    </div>
</div>