<div class="container">
  <div class="mx-auto">
    <h2 class="my-5">ログイン</h2>
    <div class="form-horizontal">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <%= f.label :email, class: "col-sm-3 control-label text-right offset-sm-2" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-3" %>
        </div>
        <div class="form-group row">
          <%= f.label :password, class: "col-sm-3 control-label text-right offset-sm-2" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-sm-3" %>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? %>
            <div class="field d-block mx-auto my-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary d-block mx-auto btn-lg" %>
        </div>
      <% end %>

    </div>
    <div class='d-block text-center mt-5'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>