<div class ="row my-5 py-3" id="sort-var">
  <div class = "col-md-3 mx-3">
    <%= form_with url:search_path, method: :get, local: true do |f| %>
    <%= f.select :range, {'ユーザー':1, '食事名':2} %>
    <%= f.text_field :word, placeholder: "Search" %>
    <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class = "col-md-3">
    <%= link_to users_show_path(current_user), class: "btn btn-primary btn-lg" do %>自分の投稿を見る<% end %>
  </div>
  <div class ="col-md-3">
    <h6>お気に入りソート</h6>
  </div>
</div>