<div class="container mt-5" style="background-color: #E6FFE9; border-radius: 20px;">
<!--食事名とお気に入りボタン-->
  <div class ="row mx-2">
    <h2 class="my-5"><%= @post_food.name %></h2>
    <div class="ml-auto" id="post_food_favorite">
      <%= render 'favorites/index', post_food: @post_food %>
    </div>
  </div>
<!--投稿情報-->
  <div class="row mx-2">
    <div class="col-sm-6 col-xs-12">
      <%= attachment_image_tag @post_food.user, :profile_image, size: "50x50", fallback: "no_image.jpg", style: "border-radius: 20px;" %>
      <%= link_to users_show_path(@post_food.user), class: "text-left px-0" do %>
      <%= @post_food.user.last_name %>さんの投稿
      <% end %>
      <div>
        <%= attachment_image_tag @post_food, :food_image, size: "400x400", fallback: "no_image.jpg", style: "border-radius: 20px;" %>
      </div>
    </div>
    <div class="col-sm-5 col-xs-12">
      <div class ="my-3">
        <%= form_with model:@food_regist_cart, url: food_regist_carts_path, local: true do |f| %>
        <%= f.hidden_field :post_food_id, :value => @post_food.id %>
        <%= f.submit '食事登録に追加する', class: "btn btn-info d-block btn-lg" %>
        <% end %>
      </div>
      <div>
        <h6 class ="mt-2">＜1食あたり＞</h6>
        <table class="table-bordered" id="table_show">
          <thead>
            <tr>
              <th class="text-center table-success" style="height: 60px;">カロリー（kcal）</th>
              <td class="text-center bg-light"><%= @post_food.calorie %></td>
            </tr>
            <tr>
              <th class="text-center table-success" style="height: 60px;">たんぱく質（g）</th>
              <td class="text-center bg-light"><%= @post_food.protain %></td>
            </tr>
            <tr>
              <th class="text-center table-success" style="height: 60px;">脂質（g）</th>
              <td class="text-center bg-light"><%= @post_food.fat %></td>
            </tr>
            <tr>
              <th class="text-center table-success" style="height: 60px;">炭水化物（g）</th>
              <td class="text-center bg-light"><%= @post_food.carbon %></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class ="row d-block mt-4 mx-2 introduction">
      <div class="col-sm-12">
        <p>
          <%= safe_join(@post_food.introduction.split("\n"),tag(:br)) %>
        </p>
      </div>
    </div>
    <div class="mt-5">
      <% if @post_food.user_id == current_user.id %>
        <%= link_to edit_post_food_path(@post_food), class: "btn btn-success mx-5" do %>
          <i class="far fa-edit"></i>編集する
        <% end %>
        <%= link_to post_food_path(@post_food), method: :delete, class: "btn btn-danger" do %>
          <i class="fas fa-trash-alt"></i> 投稿を削除する
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="food_comments_index">
  <%= render "food_comments/index", post_food: @post_food, food_comment: @food_comment %>
</div>
