<!--コメント表示欄-->
<div class ="container">
  <div class ="row mt-5 d-flex flex-column">
    <div class='comment-top'>
      <div class ="comments_count" >
      <%= post_food.food_comments.count %>件のコメント</br>
      </div>
      【総合評価】
      <% if post_food.food_comments.count == 0 %>
        <span>なし</span>
      <% else %>
      <%= post_food.food_comments.average(:rate).round(1) %>点<span id="star-average" class="ml-3" ></span>
      <script>
          $('#star-average').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post_food.food_comments.average(:rate).round(1) %>,
          });
      </script>
      <% end %>
    </div>
    <% post_food.food_comments.each do |food_comment| %>
    <div class="d-flex my-3" id="post_food_<%= @post_food.id %>">
      <div>
        <%= attachment_image_tag food_comment.user, :profile_image, size: "50x50", fallback: "no_image.jpg", style: "border-radius: 20px;" %>
        <div id= "comment-name">
          <%= food_comment.user.last_name %>さん
        </div>
      </div>
      <span id='comment'>
        【評価】<%= food_comment.rate %>点<span id="star-rate-<%= food_comment.id %>" class="ml-3"></span>
        <script>
          $('#star-rate-<%= food_comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= food_comment.rate %>,
          });
          </script></br>
        <%= food_comment.comment %>
      </span>
      <% if food_comment.user_id == current_user.id %>
        <%= link_to '削除', post_food_food_comment_path(food_comment.post_food_id, food_comment), method: :delete, remote: true, class: "btn btn-danger", style: "height: 40px;" %>
      <% end %>
    </div>
    <% end %>
  </div>
<!--コメント投稿欄-->
  <div class="mt-5", style="border-top: solid 1px green"></div>
  <div class="row mt-5 form-inline">
    <%= form_with(model:[post_food, food_comment], class: "col-sm-12") do |f| %>
    <div id="error_explanation"></div>
    <div class="form-group">
      <div>
        <div class="field d-flex mb-2" id="star">
          <%= f.label :rate, class: "mr-3" %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントをここに", size: "100x2" %>
      </div>
      <div class="text-right">
        <%= f.submit "送信する", class: "btn btn-lg btn-success ml-3 mt-3 pull-right" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'food_comment[rate]'
});
</script>